.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.admin_sidebar bg-white,
.admin_content_bar {
  /* height: 100vh; */
  overflow: hidden auto;
  margin: 0;
}
.admin_sidebar bg-white {
  overflow: hidden;
}
.text-truncate {
  width: 100%;
}
.product-card .product-content .product-price .selling_price {
  font-size: 20px;
}
.product-rating a {
  line-height: 1;
  font-size: 12px;
  text-decoration: none;
}
.cart-info {
  margin-bottom: 0;
}
.cart-info h6 {
  line-height: 1.25;
}
li.navbar-item.dropdown {
  display: block;
  margin-left: 15px;
}
.shop-widget-scroll {
  min-height: 70px;
  max-height: 150px;
  overflow-y: auto;
}
.shop-widget .shop-widget-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.pagination {
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.bottom-paginate {
  border-top: none;
  flex-wrap: wrap;
}
.pagination .page-item {
  margin-left: 0px;
}
.complain_table .llFCKr,
.complain_table .ehrSWb {
  justify-content: start;
}
